<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<config>
  <balls>
    <ball>
      <position>
	<x>0.2</x>
	<y>0.2</y>
      </position>
      <velocity>
	<x>0.0</x>
	<y>0.0</y>
      </velocity>
    </ball>
  </balls>
  <background>
    <pixmap>
      <file>cracked.png</file>
    </pixmap>
  </background>
  <block id="corridor">
    <alias-char>╳</alias-char>
    <!-- default background: transparent -->
    <background>
      <pixmap>
        <file>cracked.png</file>
      </pixmap>
    </background>
    <!-- default foreground: transparent -->
    <foreground>
      <pixmap>
	<file>sm_squares.png</file>
      </pixmap>
    </foreground>
    <!--
        empty curve:
        1 ≤ 0
    -->
    <shape>
      <implicit-curve>1</implicit-curve>
    </shape>
  </block>
  <block id="circle">
    <alias-char>o</alias-char>
    <!-- default background: transparent -->
    <background>
      <pixmap>
        <file>cracked.png</file>
      </pixmap>
    </background>
    <foreground>
      <pixmap>
	<file>sm_squares.png</file>
      </pixmap>
    </foreground>
    <shape>
      <!--
          full small centered circle:
          (x-½)² + (y-½)² ≤ 1/4
      -->
      <implicit-curve>x*x - x + 0.25 + y*y - y + 0.25 - 0.25</implicit-curve>
    </shape>
  </block>
  <block id="hole">
    <alias-char>0</alias-char> <!-- o -->
    <!-- default background: transparent -->
    <background>
      <pixmap>
        <file>cracked.png</file>
      </pixmap>
    </background>
    <foreground>
      <pixmap>
	<file>sm_squares.png</file>
      </pixmap>
    </foreground>
    <shape>
      <not>
        <!--
            full small centered circle:
            (x-½)² + (y-½)² ≤ 1/4
        -->
        <implicit-curve>x*x - x + 0.25 + y*y - y + 0.25 - 0.25</implicit-curve>
      </not>
    </shape>
  </block>
  <block id="wall-solid">
    <alias-char>┼</alias-char>
    <!-- default background: transparent -->
    <background>
      <pixmap>
        <file>cracked.png</file>
      </pixmap>
    </background>
    <foreground>
      <pixmap>
	<file>sm_squares.png</file>
      </pixmap>
    </foreground>
    <shape>
      <!--
          solid block:
          - 1 ≤ 0
      -->
      <implicit-curve>-1</implicit-curve>
    </shape>
  </block>
  <block id="wall-rounded-upper-left">
    <alias-char>╭</alias-char>
    <!-- default background: transparent -->
    <background>
      <pixmap>
        <file>cracked.png</file>
      </pixmap>
    </background>
    <foreground>
      <pixmap>
	<file>sm_squares.png</file>
      </pixmap>
    </foreground>
    <shape>
      <or>
	<!--
            circle in upper left corner:
            (x-1)² + (y-1)² ≤ 1
        -->
	<implicit-curve>x*x - 2*x + 1 + y*y - 2*y + 1 - 1</implicit-curve>
      </or>
    </shape>
  </block>
  <block id="wall-rounded-upper-right">
    <alias-char>╮</alias-char>
    <!-- default background: transparent -->
    <background>
      <pixmap>
        <file>cracked.png</file>
      </pixmap>
    </background>
    <foreground>
      <pixmap>
	<file>sm_squares.png</file>
      </pixmap>
    </foreground>
    <shape>
      <or>
	<!--
            circle in upper right corner:
            x² + (y-1)² ≤ 1
        -->
	<implicit-curve>x*x + y*y - 2.0*y + 1.0 - 1.0</implicit-curve>
      </or>
    </shape>
  </block>
  <block id="wall-rounded-lower-left">
    <alias-char>╰</alias-char>
    <!-- default background: transparent -->
    <background>
      <pixmap>
        <file>cracked.png</file>
      </pixmap>
    </background>
    <foreground>
      <pixmap>
	<file>sm_squares.png</file>
      </pixmap>
    </foreground>
    <shape>
      <or>
	<!--
            circle in lower left corner:
            (x-1)² + y² ≤ 1
        -->
	<implicit-curve>x*x - 2.0*x + 1.0 + y*y - 1.0</implicit-curve>
      </or>
    </shape>
  </block>
  <block id="wall-rounded-lower-right">
    <alias-char>╯</alias-char>
    <!-- default background: transparent -->
    <background>
      <pixmap>
        <file>cracked.png</file>
      </pixmap>
    </background>
    <foreground>
      <pixmap>
	<file>sm_squares.png</file>
      </pixmap>
    </foreground>
    <shape>
      <or>
	<!--
            circle in lower right corner:
            x² + y² ≤ 1
        -->
	<implicit-curve>x*x + y*y - 1.0</implicit-curve>
      </or>
    </shape>
  </block>
  <field>
    <ignore>&#x09;</ignore>
    <ignore>&#x0a;</ignore>
    <ignore>&#x0d;</ignore>
    <ignore>&#x20;</ignore>
    <columns>16</columns>
    <rows>16</rows>
    <contents>
      ┼┼┼┼┼┼┼┼┼┼┼┼┼┼┼┼
      ┼┼┼┼┼┼┼┼┼┼┼┼┼┼┼┼
      ┼┼╳╳╳╳╳╳╳╳╳╳╳╳┼┼
      ┼┼╳╳╳╳╳╳╳╳╳╳╳╳┼┼
      ┼┼┼┼┼╮╳╳╭╮╳╳╳╳┼┼
      ┼┼┼┼┼┼╳╳┼┼╳╳╳╳┼┼
      ┼┼╳╳┼┼╳╳┼┼┼┼┼┼┼┼
      ┼┼╳╳╰╯╳╳╰┼┼┼┼┼┼┼
      ┼┼╳╳╳╳╳╳╳╳╳╳╳╳┼┼
      ┼┼╳╳╳╳╳╳╳╳╳o╳╳┼┼
      ┼┼╳╳╭┼┼┼┼┼┼╮╳╳┼┼
      ┼┼╳╳╰┼┼┼┼┼┼╯╳╳┼┼
      ┼┼╳╳╳╳┼┼╳╳╳╳╳╳┼┼
      ┼┼╳╳╳╳┼┼╳╳╳╳╳╳┼┼
      ┼┼┼┼┼┼┼┼┼┼┼┼┼┼┼┼
      ┼┼┼┼┼┼┼┼┼┼┼┼┼┼┼┼
    </contents>
  </field>
</config>

<!--
 Local variables:
   mode: nxml
   coding: utf-8
 End:
-->
