<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--
Maze — A maze / flipper game implementation for RPi with Sense Hat
Copyright (C) 2016, 2017, 2018 Jürgen Reuter

This program is free software: you can redistribute it and/or
modify it under the terms of the GNU General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see
<https://www.gnu.org/licenses/>.

For updates and more info or contacting the author, visit:
<https://github.com/soundpaint/maze>

Author's web site: www.juergen-reuter.de
-->
<config>
  <brush id="background_mandelbrot_1">
    <fractal>
      <mandelbrot />
      <max-iterations>256</max-iterations>
      <x-offset>-1.360</x-offset>
      <y-offset>-0.095</y-offset>
      <x-scale>+0.06125</x-scale>
      <y-scale>+0.06125</y-scale>
    </fractal>
  </brush>
  <brush id="background_julia_1">
    <fractal>
      <julia>
        <arg-n>7</arg-n>
        <arg-c>
          <real>+0.626</real>
          <imag>+0.0</imag>
        </arg-c>
      </julia>
      <max-iterations>4096</max-iterations>
      <x-offset>-3.0</x-offset>
      <y-offset>-3.0</y-offset>
      <x-scale>+6.0</x-scale>
      <y-scale>+6.0</y-scale>
    </fractal>
  </brush>
  <brush id="background_julia_2">
    <fractal>
      <julia>
        <arg-n>2</arg-n>
        <arg-c>
          <real>-0.4</real>
          <imag>+0.6</imag>
        </arg-c>
      </julia>
      <max-iterations>128</max-iterations>
      <x-offset>-1.5</x-offset>
      <y-offset>-0.75</y-offset>
      <x-scale>+3.0</x-scale>
      <y-scale>+1.5</y-scale>
    </fractal>
  </brush>
  <brush id="background_julia_3">
    <fractal>
      <julia>
        <arg-n>2</arg-n>
        <arg-c>
          <real>-0.8</real>
          <imag>+0.156</imag>
        </arg-c>
      </julia>
      <max-iterations>128</max-iterations>
      <x-offset>-1.5</x-offset>
      <y-offset>-0.75</y-offset>
      <x-scale>+3.0</x-scale>
      <y-scale>+1.5</y-scale>
    </fractal>
  </brush>
  <default-foreground>
    <brush>
      <file>sm_squares.png</file>
    </brush>
  </default-foreground>
  <default-background>
    <brush ref="background_julia_3" />
  </default-background>
  <shape id="empty_curve">
    <!-- 1 ≤ 0 -->
    <implicit-curve>1</implicit-curve>
  </shape>
  <shape id="full_small_centered_circle">
    <!-- (x-½)² + (y-½)² ≤ ¼ -->
    <implicit-curve>x*x - x + 0.25 + y*y - y + 0.25 - 0.25</implicit-curve>
  </shape>
  <shape id="full_small_centered_hole">
    <!-- (x-½)² + (y-½)² ≥ ¼ -->
    <implicit-curve>-x*x + x - 0.25 - y*y + y - 0.25 + 0.25</implicit-curve>
  </shape>
  <shape id="solid_tile">
    <!-- - 1 ≤ 0 -->
    <implicit-curve>-1</implicit-curve>
  </shape>
  <shape id="circle_in_upper_left_corner">
    <!-- (x-1)² + (y-1)² ≤ 1 -->
    <implicit-curve>x*x - 2*x + 1 + y*y - 2*y + 1 - 1</implicit-curve>
  </shape>
  <shape id="circle_in_upper_right_corner">
    <!-- x² + (y-1)² ≤ 1 -->
    <implicit-curve>x*x + y*y - 2.0*y + 1.0 - 1.0</implicit-curve>
  </shape>
  <shape id="circle_in_lower_left_corner">
    <!-- (x-1)² + y² ≤ 1 -->
    <implicit-curve>x*x - 2.0*x + 1.0 + y*y - 1.0</implicit-curve>
  </shape>
  <shape id="circle_in_lower_right_corner">
    <!-- x² + y² ≤ 1 -->
    <implicit-curve>x*x + y*y - 1.0</implicit-curve>
  </shape>
  <tile id="corridor">
    <shape ref="empty_curve" />
  </tile>
  <tile id="circle">
    <shape ref="full_small_centered_circle" />
  </tile>
  <tile id="hole">
    <foreground>
      <brush>
        <solid>#99AA00</solid>
      </brush>
    </foreground>
    <shape ref="full_small_centered_hole" />
  </tile>
  <tile id="wall-solid">
    <shape ref="solid_tile" />
  </tile>
  <tile id="wall-rounded-upper-left">
    <shape ref="circle_in_upper_left_corner" />
  </tile>
  <tile id="wall-rounded-upper-right">
    <shape ref="circle_in_upper_right_corner" />
  </tile>
  <tile id="wall-rounded-lower-left">
    <shape ref="circle_in_lower_left_corner" />
  </tile>
  <tile id="wall-rounded-lower-right">
    <shape ref="circle_in_lower_right_corner" />
  </tile>
  <field>
    <ignore>&#x09;</ignore>
    <ignore>&#x0a;</ignore>
    <ignore>&#x0d;</ignore>
    <ignore>&#x20;</ignore>
    <tile-shortcut id="╭" ref="wall-rounded-upper-left" />
    <tile-shortcut id="╰" ref="wall-rounded-lower-left" />
    <tile-shortcut id="╮" ref="wall-rounded-upper-right" />
    <tile-shortcut id="╯" ref="wall-rounded-lower-right" />
    <tile-shortcut id="┼" ref="wall-solid" />
    <tile-shortcut id="╳" ref="corridor" />
    <tile-shortcut id="o" ref="circle" />
    <tile-shortcut id="0" ref="hole" />
    <columns>32</columns>
    <rows>16</rows>
    <contents>
      ┼┼┼┼┼┼┼┼┼┼┼┼┼┼┼┼┼┼┼┼┼┼┼┼┼┼┼┼┼┼┼┼
      ┼┼┼┼┼┼┼┼┼┼┼╯╳╳╳╳╰┼┼┼┼┼┼┼┼┼┼┼┼┼┼┼
      ┼┼╳╳╳╳╳╳╳╳╳╳╳╳╳╳╳╳╳╳╳╳╳╳╳╳╳╳╳╳┼┼
      ┼┼╳╳╳╳╳╳╳╳╳╳╳╳╳╳╳╳╳╳╳╳╳╳╳╳╳╳╳╳┼┼
      ┼┼┼┼┼┼┼┼┼┼┼╮╳╳╳╳╭┼┼╮╳╳╳╳╳0╳╳╳╳┼┼
      ┼┼╳╳┼┼╳╳╳╳┼┼╳╳╳╳┼┼┼┼┼┼╮╳╳╳╳╳╳╳┼┼
      ┼┼╳╳┼┼╳╳╭┼┼┼╳╳╳╳┼┼┼┼┼┼┼┼┼┼┼┼┼┼┼┼
      ┼┼╳╳╰╯╳╳╰┼┼╯╳╳╳╳╰┼┼┼┼┼┼┼┼┼┼┼┼┼┼┼
      ┼┼╳╳╳╳╳╳╳╳╳╳╳╳╳╳╳╳╳╳╳╳╳╳╳╳╳╳╳╳┼┼
      ┼┼╳╳╳o╳╳╳╳╳╳╳╳╳╳╳╳╳╳╳╳╳╳╳╳╳╳╳╳┼┼
      ┼┼╳╳╳╳╳╳╭┼┼┼┼┼┼┼┼┼┼┼┼┼┼╮╳╳╭╮╳╳┼┼
      ┼┼╳╳╳╳╳╳╰┼┼┼┼┼┼┼┼┼┼┼┼┼┼╯╳╳╰╯╳╳┼┼
      ┼┼╳╳╳╳╳╳╳╳╳╳┼┼┼┼╳╳╳╳╳╳╳╳╳╳╳╳╳╳┼┼
      ┼┼╳╳╳╳╳╳╳╳╳╳┼┼┼┼╳╳╳╳╳╳╳╳╳╳╳╳╳╳┼┼
      ┼┼┼┼┼┼┼┼┼┼┼┼┼┼┼┼┼┼┼┼┼┼┼┼┼┼┼╮╳╳┼┼
      ┼┼┼┼┼┼┼┼┼┼┼┼┼┼┼┼┼┼┼┼┼┼┼┼┼┼┼┼┼┼┼┼
    </contents>
    <ball>
      <position>
        <row>4</row>
        <column>12</column>
      </position>
      <velocity>
        <x>0.000020</x>
        <y>0.000011</y>
      </velocity>
      <mass>1.0</mass>
    </ball>
  </field>
</config>

<!--
 Local variables:
   mode: nxml
   coding: utf-8
 End:
-->
