<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<config>
  <balls>
    <ball>
      <position>
	<x>0.2</x>
	<y>0.2</y>
      </position>
      <velocity>
	<x>0.0</x>
	<y>0.0</y>
      </velocity>
    </ball>
  </balls>
  <background>
    <pixmap>
      <file>cracked.png</file>
    </pixmap>
  </background>
  <block id="corridor">
    <alias-char>╳</alias-char>
    <!-- default background: transparent -->
    <background>
      <pixmap>
        <file>cracked.png</file>
      </pixmap>
    </background>
    <!-- default foreground: transparent -->
    <foreground>
      <pixmap>
	<file>sm_squares.png</file>
      </pixmap>
    </foreground>
    <shape>
      <implicit-curve>1</implicit-curve> <!-- empty curve -->
    </shape>
  </block>
  <block id="circle">
    <alias-char>o</alias-char>
    <!-- default background: transparent -->
    <background>
      <pixmap>
        <file>cracked.png</file>
      </pixmap>
    </background>
    <foreground>
      <pixmap>
	<file>sm_squares.png</file>
      </pixmap>
    </foreground>
    <shape>
      <implicit-curve>x*x+y*y-0.7</implicit-curve>
    </shape>
  </block>
  <block id="hole">
    <alias-char>0</alias-char> <!-- o -->
    <!-- default background: transparent -->
    <background>
      <pixmap>
        <file>cracked.png</file>
      </pixmap>
    </background>
    <foreground>
      <pixmap>
	<file>sm_squares.png</file>
      </pixmap>
    </foreground>
    <shape>
      <not>
        <implicit-curve>x*x+y*y-0.7</implicit-curve>
      </not>
    </shape>
  </block>
  <block id="wall-solid">
    <alias-char>┼</alias-char>
    <!-- default background: transparent -->
    <background>
      <pixmap>
        <file>cracked.png</file>
      </pixmap>
    </background>
    <foreground>
      <pixmap>
	<file>sm_squares.png</file>
      </pixmap>
    </foreground>
    <shape>
      <implicit-curve>-1</implicit-curve> <!-- solid block -->
    </shape>
  </block>
  <block id="wall-rounded-upper-left">
    <alias-char>╭</alias-char>
    <!-- default background: transparent -->
    <background>
      <pixmap>
        <file>cracked.png</file>
      </pixmap>
    </background>
    <foreground>
      <pixmap>
	<file>sm_squares.png</file>
      </pixmap>
    </foreground>
    <shape>
      <or>
	<!-- solid block without upper left edge -->
	<!--<implicit-curve>x-y-0.75</implicit-curve>-->

	<!-- solid block without upper left edge -->
	<!--<implicit-curve>x-+y-y-0.75</implicit-curve>-->

	<!-- circle in upper left corner -->
	<!--<implicit-curve>(-x+0.5)²+(-y+0.5)²-2</implicit-curve>-->
	<implicit-curve>x*x-x+0.25+y*y-y+0.25-2</implicit-curve>
      </or>
    </shape>
  </block>
  <block id="wall-rounded-upper-right">
    <alias-char>╮</alias-char>
    <!-- default background: transparent -->
    <background>
      <pixmap>
        <file>cracked.png</file>
      </pixmap>
    </background>
    <foreground>
      <pixmap>
	<file>sm_squares.png</file>
      </pixmap>
    </foreground>
    <shape>
      <or>
	<!-- solid block without upper right edge -->
	<!--<implicit-curve>-x-y+0.75</implicit-curve>-->

	<!-- circle in upper right corner -->
	<!--<implicit-curve>(x+0.5)²+(-y+0.5)²-2</implicit-curve>-->
	<implicit-curve>x*x+x+0.25+y*y-y+0.25-2</implicit-curve>
      </or>
    </shape>
  </block>
  <block id="wall-rounded-lower-left">
    <alias-char>╰</alias-char>
    <!-- default background: transparent -->
    <background>
      <pixmap>
        <file>cracked.png</file>
      </pixmap>
    </background>
    <foreground>
      <pixmap>
	<file>sm_squares.png</file>
      </pixmap>
    </foreground>
    <shape>
      <or>
	<!-- solid block without lower left edge -->
	<!--<implicit-curve>x+y+0.75</implicit-curve>-->

	<!-- circle in lower left corner -->
	<!--<implicit-curve>(x-0.5)²+(y+0.5)²-2</implicit-curve>-->
	<implicit-curve>x*x-x+0.25+y*y+y+0.25-2</implicit-curve>
      </or>
    </shape>
  </block>
  <block id="wall-rounded-lower-right">
    <alias-char>╯</alias-char>
    <!-- default background: transparent -->
    <background>
      <pixmap>
        <file>cracked.png</file>
      </pixmap>
    </background>
    <foreground>
      <pixmap>
	<file>sm_squares.png</file>
      </pixmap>
    </foreground>
    <shape>
      <or>
	<!-- solid block without lower right edge -->
	<!--<implicit-curve>y-x-0.75</implicit-curve>-->

	<!-- circle in lower right corner -->
	<!--<implicit-curve>(x+0.5)²+(y+0.5)²-2</implicit-curve>-->
	<implicit-curve>x*x+x+0.25+y*y+y+0.25-2</implicit-curve>
      </or>
    </shape>
  </block>
  <field>
    <ignore>&#x09;</ignore>
    <ignore>&#x0a;</ignore>
    <ignore>&#x0d;</ignore>
    <ignore>&#x20;</ignore>
    <columns>16</columns>
    <rows>16</rows>
    <contents>
      ┼┼┼┼┼┼┼┼┼┼┼┼┼┼┼┼
      ┼┼┼┼┼┼┼┼┼┼┼┼┼┼┼┼
      ┼┼╳╳╳╳╳╳╳╳╳╳╳╳┼┼
      ┼┼╳╳╳╳╳╳╳╳╳╳╳╳┼┼
      ┼┼┼┼┼╮╳╳╭╮╳╳╳╳┼┼
      ┼┼┼┼┼┼╳╳┼┼╳╳╳╳┼┼
      ┼┼╳╳┼┼╳╳┼┼┼┼┼┼┼┼
      ┼┼╳╳╰╯╳╳╰┼┼┼┼┼┼┼
      ┼┼╳╳╳╳╳╳╳╳╳╳╳╳┼┼
      ┼┼╳╳╳╳╳╳╳╳╳o╳╳┼┼
      ┼┼╳╳╭┼┼┼┼┼┼╮╳╳┼┼
      ┼┼╳╳╰┼┼┼┼┼┼╯╳╳┼┼
      ┼┼╳╳╳╳┼┼╳╳╳╳╳╳┼┼
      ┼┼╳╳╳╳┼┼╳╳╳╳╳╳┼┼
      ┼┼┼┼┼┼┼┼┼┼┼┼┼┼┼┼
      ┼┼┼┼┼┼┼┼┼┼┼┼┼┼┼┼
    </contents>
  </field>
</config>

<!--
 Local variables:
   mode: nxml
   coding: utf-8
 End:
-->
